
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 20px;
    align-items: center;
}
.title{
    font-size: 48px;
    font-family:'Indie Flower';
    color: black
    ;
}
.navbar-left{
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar-left a{
    text-decoration: none;

}
.navbar-right{
    display: flex;
    flex-direction:row;
    gap: 5px;
}
.navbar-right i{
    font-size: 24px;
}
/* banner*/
.banner{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #c1dcdc;
    width: 90%;
    margin: auto;
    padding: 20px 50px;
    border-radius: 20px;
}
.banner-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.banner-left-title{
    font-size: 48px;
}

.banner-left-contents{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.banner-left-content{
    display: flex;
    flex-direction: column;
    gap:5px;

}
hr{
    background-color: black;
    width: 2px;
    border: none;
}

.banner-left-content span:nth-child(1){
    font-size: 24px;
    font-weight: 500;
}

.banner-left-content span:nth-child(2){

}
.banner-left-search{
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 280px;
}
.banner-left-search input{
    padding: 5px;
    border: none;
    outline: none;
    
}
.banner-left-search button{
    padding:2px 10px;
    background-color: #c1dcdc;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    
}
.banner-right{
    width: 50%;
}
.banner-right img{
    
    transform: scaleX(-1);
    cursor: pointer;
       
}
.banner-right img:hover{
    transform: scale(1);
    transition: all 1.5s;
}
/* products */

.product{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    gap: 50px;
}

.product-left {
    display: flex;
    flex-direction: column;
    width: 35%;
}
.product-left h2{
    font-size: 32px;
}
.product-left span{
    font-size: 16px;
}
.product-left button{
    background-color: #c1dcdc;
    padding:10px ;
    border: none;
    border-radius: 15px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    cursor: pointer;  
}
.product-left button:hover{
    background-color: #435757;
    color: #fff;
    transition: all 2s;
}

.product-right{
    display: flex;
    gap: 20px;
    transition:all 3s;
    
}
.product-right-card h3{
    font-size: 17px;
    font-weight: 500;
    

}
.product-right-card img{
   width: 100%;
   cursor: pointer;
}
.product-right-card img:hover{
    transform: scale(0.9);  
}
.about{
    
    padding: 20px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(168, 168, 168, 0.5);
    margin-top:50px;
  
}
.about-title{
    
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}
.about-title h1{
    font-size: 32px;
}
.about-title p{
    color: gray;
}
.about-cards{
  
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.about-card{
   
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.about-card i{
    font-size: 42px;
    background-color: #c1dcdc;
    border-radius: 50%;
    padding: 10px;
  
}
.about-card p:nth-child(2){
    font-weight:500;
    font-size: 20px;

}
.about-card p:nth-child(3){
    width: 75%;
}


.categories{
    background-color: beige;
    padding-top: 30px;
    padding-bottom: 30px;
   
    
}
.categories-title{
  letter-spacing: 3px;
    text-align: center;
}
.categories-title p{
    color: gray;
    margin-bottom: 30px;
}
.categories-banners{
    
    /* display: flex; */
    width: 90%;
    margin: auto;
    gap: 15px;
   
}
.categories-banners img{
    width: 90%;
}

.banners2{
    display: flex;
    flex: row;
    gap: 15px;
    justify-content: space-around;
    align-items:last baseline;
}
.categories-banners h2{
    font-size: 24px;
    text-align: center;
}
.categories-banners p{
    width:100%;
    
}
.banners-content{
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: gray;
    margin:10px 0 10px 0 ;
}
.categories button{
    background-color: #c1dcdc;
    padding:10px ;
    border: none;
    border-radius: 15px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    cursor: pointer;  
    margin: auto;
    font-weight: bold;
}
.categories button:hover{
    background-color: #435757;
    color: #fff;
    transition: all 2s;
}
.categories .banners2 img:last-child{

}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c1dcdc;
    width: 100%;
    margin: auto;

}
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 80px;
    margin-top: 20px;
   
}
.footer-left h1{
    font-family: 'Indie Flower';
    letter-spacing: 4px;
}
.footer-left i{
    font-size: 24px;
    color: gray;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 50%;
}
.social{
    width: 170px;
   
}
.footer-left i:hover{
    color: rgb(29, 61, 61);
    transform: scale(1.1);
  
}

.footer-right{
    /* border: 3px solid red; */
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px 20px;
    margin: 50px;

}
.footer-right li{
    list-style: none;
    margin-right: 20px;
    margin-bottom: 7px;
}
